
@font-face {
    font-family: "lab-client-layout-v2";
    src: url("/fonts/lab-client-layout-v2.woff?v=1") format("woff"), url("/fonts/lab-client-layout-v2.ttf?v=1") format("truetype"), url("/fonts/lab-client-layout-v2.svg?v=1") format("svg");
}

body, html {
    font-family: 'theme-font', sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
}

.instructions-client.integrated-layout {
    margin-left: 2px; /* adjust for the parent page re-size bar */
}

    .instructions-client.integrated-layout:dir(rtl) {
        margin-left: 0px;
        margin-right: 2px;
    }

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    width: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

p {
    margin: 16px 0;
    line-height: 20px;
}

input, textarea, button, label.button {
    font-family: 'theme-font', sans-serif;
    font-size: 14px;
}

    input.validation-error, select.validation-error, textarea.validation-error {
        border-color: red !important;
    }

    input[type=text], input[type=password], input[type=number], textarea, select, label.button {
        box-sizing: border-box;
        padding: 4px 8px;
        border-radius: 8px;
        border-width: 2px;
        border-style: solid;
        outline: none;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 22px;
    }

    input[type=checkbox], input[type=radio] {
        padding: 8px;
    }

    input[type=range] {
        -webkit-appearance: none;
    }

        input[type=range]::-webkit-slider-runnable-track {
            width: 300px;
            height: 5px;
            border: none;
            border-radius: 3px;
        }

        input[type=range]::-webkit-slider-thumb {
            -webkit-appearance: none;
            border: none;
            height: 16px;
            width: 16px;
            border-radius: 50%;
            margin-top: -5px;
        }

        input[type=range]:focus {
            outline: none;
        }

    input[type=submit]:disabled, input[type=button]:disabled, button:disabled, label.button:disabled {
        opacity: .50;
        cursor: default;
    }

    input[data-val-required] + span:before, input.required + span:before, select.required + span:before {
        content: " * ";
    }

    input[type="number"] {
        min-width: 80px;
    }

    input.variableTextBox {
        width: 250px;
        max-width: 100%;
    }

    input:disabled {
        opacity: 0.5;
        cursor: default !important;
    }

    textarea.variableTextBox {
        width: 100%;
        min-width: 100px;
        max-width: 100%;
    }

select option {
    padding: 8px;
    border-radius: 0;
}

.lab-client-header {
    display: flex;
    height: 64px;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    padding: 0 16px;
    gap: 25px;
}

.lab-name {
    overflow: hidden;
    max-height: 64px;
}

a.icon:hover, a.icon:focus {
    text-decoration: none;
}

.icon:before, .icon:after {
    font-family: "lab-client-layout-v2";
    font-weight: normal;
    font-size: 16px;
}

.tab-headings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 36px;
    border-bottom: solid 1px;
    padding: 0 16px;
}

.tab-holder {
    display: flex;
    gap: 16px;
    height: 36px;
    line-height: 36px;
}

.tab-heading {
    border-width: 0;
    border-bottom-width: 2px;
    border-style: none;
    padding-bottom: 8px;
    cursor: pointer;
    font-weight: normal;
}

    .tab-heading.selected {
        font-weight: 500;
        border-style: solid;
    }

a.tab-heading {
    color: inherit;
}

    a.tab-heading:hover, a.tab-heading:focus {
        text-decoration: none !important;
    }

.modal-menu-button::before {
    display: inline-block;
    vertical-align: top;
    padding: 1px 4px;
    line-height: 18px;
    margin-top: -2px;
}

.icon-holder {
    margin-top: 3px;
    display: flex;
    gap: 8px
}

    .icon-holder .icon {
        cursor: pointer;
    }

    .icon-holder .notifications-button {
        visibility: hidden;
    }

        .icon-holder .notifications-button::before {
            content: "\a001";
        }

        .icon-holder .notifications-button.active {
            visibility: inherit;
        }

    .icon-holder .help-button::before {
        content: "\a002";
    }

    .icon-holder .settings-button::before {
        content: "\a003";
    }

.tab {
    display: none;
}

    .tab.selected {
        display: block;
    }

.tab-content {
    padding: 16px;
    overflow-y: auto;
    overflow-x: auto;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 100px;
}

    .tab-content.withNavigation {
        bottom: 100px;
    }

.instructions .page {
    display: none;
}

    .instructions .page.selected {
        display: block;
    }

.instructions-footer {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 18px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 16px;
    border-top: solid 1px;
    height: 100px;
    box-sizing: border-box;
}

.instructions-navigation {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}

    .instructions-navigation .previous-button, .instructions-navigation .next-button {
        flex: 1;
        cursor: pointer;
        line-height: 18px;
        border: solid 1.5px;
        border-radius: 5px;
        user-select: none;
    }

        .instructions-navigation .previous-button::before {
            content: "\a005";
            content: "\a005" / "";
            position: absolute;
            left: 26px;
        }

        .instructions-navigation .previous-button:dir(rtl)::before {
            content: "";
        }

        .instructions-navigation .previous-button:dir(rtl)::after {
            content: "\a004";
            content: "\a004" / "";
            position: absolute;
            right: 26px;
        }

        .instructions-navigation .next-button::after {
            content: "\a004";
            content: "\a004" / "";
            position: absolute;
            right: 26px;
        }

        .instructions-navigation .next-button:dir(rtl)::after {
            content: "";
        }

        .instructions-navigation .next-button:dir(rtl)::before {
            content: "\a005";
            content: "\a005" / "";
            position: absolute;
            left: 26px;
        }

    .instructions-navigation .previous-arrow, .instructions-navigation .next-arrow {
        font-family: "lab-client-layout-v2";
        font-weight: normal;
        margin-right: 5px;
        display: inline-block;
        vertical-align: top;
        font-size: 16px;
    }

    .instructions-navigation .previous-button.disabled {
        opacity: .3;
        cursor: default;
    }

    .instructions-navigation .next-button.disabled {
        cursor: default;
        opacity: .5;
    }

        .instructions-navigation .previous-button.disabled:hover, .instructions-navigation .next-button.disabled:hover {
            background-color: transparent;
        }

.progress-and-timer-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    align-items: center;
}

.lab-progress-bar {
    height: 8px;
    border-radius: 5px;
    flex: 1;
}

.lab-progress-fill {
    height: 8px;
    border-radius: 5px;
}

.timer-wrapper {
}

.timer {
    font-weight: 500;
}

.timer-wrapper .timer.expiring {
    color: #ff3139;
}

/* instructions content */

.lab-title {
    margin-top: 0;
    font-size: 28px;
    line-height: 36px;
    font-weight: 500;
    padding-bottom: 16px;
    border-bottom: solid 2px
}

h1 {
    font-size: 28px;
    line-height: 36px;
    font-weight: 400;
    margin: 16px 0;
}

.page > h1:first-child {
    margin-top: 0;
}

h2 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    margin: 16px 0;
}

h3 {
    font-size: 20px;
    line-height: 32px;
    font-weight: 500;
    margin: 16px 0;
}

h4 {
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    margin: 16px 0;
}

h5 {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    margin: 16px 0;
}

h6 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    margin: 16px 0;
}

hr {
    border-width: 1px;
    border-style: solid;
    opacity: .5;
    margin: 16px 0;
}

ul, ol {
    margin: 16px;
    padding: 0px;
}

    ul li, ol li {
        margin: 5px 0;
    }

.page table {
    border-collapse: collapse;
}

    .page table thead tr {
        border-bottom-width: 2px;
        border-bottom-style: solid;
    }

    .page table tr:not(:last-child) {
        border-bottom-width: 2px;
        border-bottom-style: solid;
    }

    .page table th:not(:empty) {
        font-weight: bold;
        padding: 5px 10px;
    }

    .page table td {
        padding: 5px 10px;
    }

.page img, .dialogContent img {
    max-width: 100%;
    vertical-align: middle;
    margin: 5px 0;
}

.page video, .dialogContent video {
    display: block;
    margin: 16px 0;
    max-width: 100%;
}

.page ol {
    list-style-type: decimal;
}

    .page ol li ol {
        list-style-type: lower-alpha;
    }

        .page ol li ol li ol {
            list-style-type: lower-roman;
        }

            .page ol li ol li ol li ol {
                list-style-type: decimal;
            }

                .page ol li ol li ol li ol li ol {
                    list-style-type: lower-alpha;
                }

                    .page ol li ol li ol li ol li ol li ol {
                        list-style-type: lower-roman;
                    }

/* LINKS */

a {
    text-decoration: none;
    font-weight: 500;
}

    a:hover, a:focus {
        text-decoration: underline;
    }

.icon-link::before, .copyable::before, .typeText::before, .special-action-link::before {
    font-family: "lab-client-layout-v2";
    font-weight: normal;
    margin-right: 5px;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
}

.icon-link:dir(rtl)::before, .copyable:dir(rtl)::before, .typeText:dir(rtl)::before, .special-action-link:dir(rtl)::before {
    margin-right: 0px;
    margin-left: 5px;
    transform: scaleX(-1);
}

.special-action-link::before {
    font-size: 16px;
    margin-right: 5px;
}

.helpLink::before {
    content: "\a002";
}

.external-link::before {
    content: "\a006";
}

.portalLink::before {
    content: "\a007";
}

.dialogLink::before {
    content: "\a008";
}

.hintLink::before {
    content: '\a009';
}

.knowledgeLink::before {
    content: "\a010";
}

.videoLink::before {
    content: '\a011';
}

.audioLink::before {
    content: '\a012';
}

.imageLink::before {
    content: '\a013';
}

.fileLink::before {
    content: "\a014";
}

.print-icon::before {
    content: "\a046";
}

/* IDLX behavior links */

.special-action-link, .copyable, .typeText {
    padding: 1px 4px;
    border-radius: 3px;
    border: 1px solid #eee;
    cursor: pointer;
    font-weight: normal;
    display: inline-block;
}

    .special-action-link:hover {
        text-decoration: none;
    }

.ctrlAltDeleteLink::before, .keyComboLink::before {
    content: "\a027";
}

.copyable::before {
    content: "\a018";
    font-size: 16px;
}

.typeText::before {
    content: "\a025";
    font-size: 17px;
}

.copyable.typeText::before {
    content: "\a025\a018";
    font-size: 16px;
}

.loadMediaLink.opticalMedia::before {
    content: "\a029";
}

.loadMediaLink.floppyMedia::before {
    content: "\a038";
}

.selectEndpointLink::before,
.selectMachineLink::before {
    content: "\a028";
}


.commandLink::before {
    content: "\a030";
}

.command {
    display: none;
}

/* BLOCKS */
blockquote {
    margin: 16px 0;
    border-left: solid 8px;
    padding: .1px 20px;
    min-height: 1em;
    border-radius: 4px;
    min-height: 52px; /** Ensure empty expandable text blocks render the same as wehn filled out */
}

    blockquote:dir(rtl) {
        border-left-style: none;
        border-right-width: 8px;
        border-right-style: solid;
    }

    blockquote.alert, blockquote.help, blockquote.hint, blockquote.note, blockquote.knowledge {
        background-color: transparent;
    }

    blockquote.alert, blockquote.note, blockquote.help, blockquote.hint {
        border-radius: 4px;
        border-width: 1px 1px 1px 8px;
        border-style: solid;
        padding-left: 32px;
    }

        blockquote.alert:dir(rtl), blockquote.note:dir(rtl), blockquote.help:dir(rtl), blockquote.hint:dir(rtl) {
            border-width: 1px 8px 1px 1px;
            padding-left: 20px;
            padding-right: 32px;
        }

    blockquote.expandable {
        border-radius: 4px;
        border-width: 1px 1px 1px 8px;
        border-style: solid;
    }

        blockquote.expandable:dir(rtl) {
            border-width: 1px 8px 1px 1px;
        }

    blockquote.alert:before, blockquote.note:before, blockquote.help:before, blockquote.hint:before, blockquote.knowledge:before {
        font-family: "lab-client-layout-v2";
        position: absolute;
        margin-left: -22px;
        margin-top: 16px;
        font-size: 16px;
    }

    blockquote.alert:dir(rtl):before, blockquote.note:dir(rtl):before, blockquote.help:dir(rtl):before, blockquote.hint:dir(rtl):before, blockquote.knowledge:dir(rtl):before {
        margin-right: -22px;
    }

    blockquote.alert:before {
        content: "\a016";
    }

    blockquote.note:before {
        content: "\a017";
    }

    blockquote.help:before {
        content: "\a002";
    }

    blockquote.hint:before {
        content: "\a009";
    }

    blockquote.knowledge:before {
        content: "\a010";
    }

    blockquote.knowledge:dir(rtl):before {
        transform: scaleX(-1);
    }

    blockquote.knowledge {
        padding-left: 32px;
        border-width: 1px;
        border-style: solid;
        margin-bottom: 0px;
        border-radius: 4px;
    }

        blockquote.knowledge:dir(rtl) {
            padding-left: 20px;
            padding-right: 32px;
        }

        blockquote.knowledge.collapsed, blockquote.knowledge.expanded {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border-bottom-style: none;
        }

        blockquote.knowledge.collapsed {
            position: relative;
            max-height: 100px;
            overflow: hidden;
        }

            blockquote.knowledge.collapsed::after {
                content: "";
                font-size: 0;
                position: absolute;
                left: 0;
                bottom: 0;
                background: linear-gradient(transparent, #fff);
                height: 60px;
                width: 100%;
            }

        blockquote.knowledge.expanded {
            overflow: auto;
            max-height: inherit;
        }

            blockquote.knowledge.expanded::after {
                height: 0;
                display: none;
            }

.moreKnowledge {
    display: none;
    box-sizing: border-box;
    padding-top: 0;
    padding-left: 32px;
    margin-top: 0;
    min-height: 10px;
    border-style: solid;
    border-width: 1px;
    border-top-style: none;
    border-top-width: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.moreKnowledge {
    padding-left: 20px;
    padding-right: 32px;
}

blockquote.knowledge.collapsed + .moreKnowledge, blockquote.knowledge.expanded + .moreKnowledge {
    display: block;
}

.moreKnowledge a {
    display: inline-block;
    padding: 0 0 16px 0;
}

details {
    position: relative;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    padding: 8px;
    margin: 16px 0;
}

    details > summary {
        list-style: none;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        cursor: pointer;
        padding-right: 20px;
    }

        details > summary::after {
            content: "\a015";
            font-family: "lab-client-layout-v2";
            position: absolute;
            right: 8px;
            top: 8px;
        }

    details[open] > summary::after {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
    }

    details[open] summary {
        margin-bottom: 10px;
    }

    details > summary::-webkit-details-marker {
        display: none;
    }

/* nested details/summary blocks */

blockquote details {
    border: none;
    padding: 0;
}

blockquote > details > summary::after {
    right: 0px;
    top: 0px;
}

/* EXIT MENU */

.exit-button {
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
}

    .exit-button::before {
        margin: 2px 4px;
        display: inline-block;
        vertical-align: top;
    }

#exitMenuButton::before {
    content: "\a000";
    font-size: 12px;
}

#exitMenu {
    display: none;
    position: absolute;
    right: 16px;
    z-index: 1;
    top: 45px
}

    #exitMenu:dir(rtl) {
        right: initial;
        left: 16px;
    }

.menu {
    position: absolute;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.24);
}

    .menu .menu-item {
        padding: 12px 32px 12px 36px;
        cursor: pointer;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 22px;
    }

        .menu .menu-item:dir(rtl) {
            padding: 12px 36px 12px 32px;
        }

        .menu .menu-item:first-child {
            border-radius: 8px 8px 0 0;
        }

        .menu .menu-item:last-child {
            border-radius: 0 0 8px 8px;
        }

        .menu .menu-item::before {
            font-family: "lab-client-layout-v2";
            position: absolute;
            margin-left: -24px;
            display: inline-block;
            vertical-align: top;
            font-size: 16px;
        }

        .menu .menu-item:dir(rtl)::before {
            margin-left: 0;
            margin-right: -24px;
            transform: scaleX(-1);
        }

.save-button::before {
    content: "\a038";
}

.cancel-button::before {
    content: "\a000";
}

.disconnect-button::before {
    content: "\a039";
}

/* MODAL DIALOG */
.dialog {
    z-index: 2500;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.dialogMask, .modal-menu-mask {
    opacity: .6;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.dialogBox {
    height: 95%;
    width: 90%;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.dialog-header {
    display: flex;
    justify-content: space-between;
    padding: 12px 25px;
}

.dialogCloseButton {
    cursor: pointer;
}

    .dialogCloseButton::before {
        content: "\a000";
        font-family: "lab-client-layout-v2";
        display: inline-block;
        vertical-align: top;
        font-size: 16px;
        padding: 3px;
    }

.dialogTitle {
    font-size: 20px;
    flex: 1;
}

.dialogContent {
    overflow: auto;
    flex: 1;
    padding: 20px 25px;
}

    .dialogContent.noScroll {
        overflow: inherit;
    }

    .dialogContent.noPadding {
        padding: 0;
    }

.dialogButtons {
    display: none;
    padding: 25px;
}

.dialog.hasButtons .dialogButtons {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

/* MODAL MENU */

.modal-menu-mask {
    z-index: 500;
}

.modal-menu {
    display: none;
    position: absolute;
    z-index: 501;
    top: 116px;
    bottom: 16px;
    right: 16px;
    left: 16px;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
}

@media only screen and (max-height: 400px) {
    .modal-menu {
        top: 16px;
    }
}

.modal-menu-title-bar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    line-height: 20px;
}

.modal-menu-title {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: inherit;
    margin: 0;
    display: inline-block;
}

.close-modal-menu-button {
    cursor: pointer;
    font-weight: 400;
}

    .close-modal-menu-button::before {
        content: "\a000";
        font-family: "lab-client-layout-v2";
        display: inline-block;
        vertical-align: top;
        font-size: 14px;
        padding: 1px 4px;
    }

    .close-modal-menu-button:focus::before {
        outline: rgb(255, 255, 255, .5) solid 1px;
    }

.modal-menu-content {
    padding: 16px;
    overflow: auto;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    top: 40px;
    bottom: 0px;
}

.modal-menu h3 {
    font-size: 16px;
    line-height: 22px;
}

.support-information {
    font-size: 12px;
    font-weight: 500;
    padding: 16px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

    .support-information .title {
        font-size: 14px;
        font-weight: 500;
        margin: 0;
    }

#supportTicketLink a::before, .support-link::before {
    content: "\a031";
    font-family: "lab-client-layout-v2";
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    margin-right: 5px;
}

#supportTicketLink:dir(rtl) a::before, .support-link:dir(rtl)::before {
    margin-right: 0px;
    margin-left: 5px;
}

.bug-link::before {
    content: "\a032";
}

.link-list-item {
    line-height: 24px;
    display: block;
}

.skillable-branding-block {
    margin-top: 20px;
    font-size: 12px;
    font-weight: 500;
}

.skillable-links-separator {
    font-size: 10px;
    font-weight: 400;
    margin: 0 2px 0 2px;
}

#help-menu a {
    font-weight: 400;
}

.modal-menu-content .settings-heading {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
    margin: 16px 0 16px 24px;
}

    .modal-menu-content .settings-heading:dir(rtl) {
        margin: 16px 24px 16px 0;
    }

#theme, #language-selector {
    margin-left: 21px;
}

    #theme:dir(rtl), #language-selector:dir(rtl) {
        margin-left: 0;
        margin-right: 21px;
    }

.language-selector-icon::before {
    content: "\a049";
    font-family: "lab-client-layout-v2";
    font-size: 24px;
    margin-left: 5px;
    vertical-align: middle;
    display: inline-block;
}

.edit-link::before {
    content: "\a033";
}

.assign-link::before {
    content: "\a037";
}

.transfer-link::before {
    content: "\a004";
}

.share-link::before {
    content: "\a035";
}

.split-windows-link::before {
    content: "\a008";
}

.join-windows-link::before {
    content: "\a008";
}

.install-link::before {
    content: "\a034";
}

#settings-menu .link-list-item {
    line-height: 36px;
    margin-left: 24px;
}

    #settings-menu .link-list-item:dir(rtl) {
        margin-left: 0;
        margin-right: 24px;
    }

#settings-menu hr {
    margin: 20px 0 20px 0;
}

#settings-menu .link-list-item a, #settings-menu .link-list-item {
    font-weight: 500;
    font-size: 16px;
}

    #settings-menu .link-list-item a::before, #settings-menu .link-list-item::before {
        position: absolute;
        margin-left: -24px;
    }

    #settings-menu .link-list-item:dir(rtl) a::before, #settings-menu .link-list-item:dir(rtl)::before {
        margin-left: 0;
        margin-right: -24px;
    }

#settings-menu .icon-link {
    cursor: pointer;
}

    #settings-menu .icon-link:hover {
        text-decoration: underline;
    }

#commit-lab-profile-changes::before {
    content: "\a036";
}

.text-size-choice {
    margin: 16px 0 16px;
}

    .text-size-choice label {
        cursor: pointer;
        padding: 2px 5px;
    }

        .text-size-choice label:focus-within {
            outline: rgb(0, 0, 0, .5) solid 1px;
        }

#text-size-choice-large {
    font-size: 20px;
}

#text-size-choice-extra-large {
    font-size: 24px;
}

.text-size-choice .checkbox::before {
    opacity: 0;
    content: "\a026";
    font-family: "lab-client-layout-v2";
    font-size: 16px;
    margin-right: 6px;
    vertical-align: middle;
    display: inline-block;
    margin-top: -2px;
}

.text-size-choice .checkbox:dir(rtl)::before {
    margin-right: 0;
    margin-left: 6px;
}

.text-size-choice input[type="radio"] {
    opacity: 0;
    position: absolute;
    padding: 0;
    margin: 0;
}

    .text-size-choice input[type="radio"]:hover + .checkbox::before {
        opacity: .2;
    }

    .text-size-choice input[type="radio"]:checked + .checkbox::before {
        opacity: 1;
    }


/* FULL SCREEN DIALOG */
#fullScreenMessage {
    position: absolute;
    z-index: 2001;
    top: 0;
    left: auto;
    right: 0;
    height: 100%;
    width: 100%;
}

#fullScreenMessageMask {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
}

#fullScreenMessageCenter {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#fullScreenMessageTextWrapper {
    padding: 0 40px 0 80px;
    background-repeat: no-repeat;
}

    #fullScreenMessageTextWrapper:dir(rtl) {
        padding: 0 80px 0 40px;
    }

#fullScreenMessageTitle {
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
    margin: 0;
    outline: none;
}

#fullScreenMessageText {
    margin: 25px 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}

#fullScreenMessageButtonWrapper {
    margin-top: 15px;
}

    #fullScreenMessageButtonWrapper input[type=button] {
        margin-right: 8px;
    }

        #fullScreenMessageButtonWrapper input[type=button]:dir(rtl) {
            margin-right: 0px;
            margin-left: 8px;
        }

#fullScreenProgressBar {
    width: 500px;
    height: 10px;
    margin-top: 15px;
    border-radius: 5px;
}

#fullScreenProgressFill {
    height: 10px;
    width: 0;
    border-radius: 5px;
}

#fullScreenProgressText {
    margin-top: 15px;
    font-size: 16px;
}

#fullScreenMessage.withLoadingImage #fullScreenMessageTextWrapper {
    margin-left: 32px;
}

    #fullScreenMessage.withLoadingImage #fullScreenMessageTextWrapper:dir(rtl) {
        margin-left: 0;
        margin-right: 32px;
    }

#fullScreenMessageLoadingIcon {
    display: none;
    position: absolute;
    margin-left: -36px;
    margin-top: 10px;
}

    #fullScreenMessageLoadingIcon:dir(rtl) {
        margin-left: 0px;
        margin-right: -36px;
    }

#fullScreenMessage.withLoadingImage #fullScreenMessageLoadingIcon {
    display: block;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loadingAnimation-large {
    border-style: solid;
    display: inline-block;
    border-width: 5px;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    animation: spin 1s linear infinite;
}

.loadingAnimation-medium {
    border-style: solid;
    display: inline-block;
    border-width: 4px;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    animation: spin 1s linear infinite;
}

.loadingAnimation-small {
    border-style: solid;
    display: inline-block;
    border-width: 3px;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    animation: spin 1s linear infinite;
}

button, input[type="button"], label.button {
    border-radius: 8px;
    border: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    padding: 5px 16px;
}

    button:hover, input[type="button"]:hover, label.button:hover {
        cursor: pointer;
    }

#fullScreenMessageButtonWrapper button, #fullScreenMessageButtonWrapper input[type="button"] {
    height: 48px;
    padding: 0px 32px;
    margin-bottom: 10px;
}

.clickable {
    cursor: pointer;
}


/* Code */


/* Pretty printing for code blocks. Used with prettify.js. */

pre .str, code .str {
    color: #78e844;
}
/* string  - green */
pre .kwd, code .kwd {
    color: #ffa37e;
}
/* keyword - dark pink */
pre .com, code .com {
    color: #AEAEAE;
    font-style: italic;
}
/* comment - gray */
pre .typ, code .typ {
    color: #62c9ff;
}
/* type - light blue */
pre .lit, code .lit {
    color: #3387CC;
}
/* literal - blue */
pre .pun, code .pun {
    color: #fff;
}
/* punctuation - white */
pre .pln, code .pln {
    color: #fff;
}
/* plaintext - white */
pre .tag, code .tag {
    color: #62c9ff;
}
/* html/xml tag    - light blue */
pre .atn, code .atn {
    color: #bdb76b;
}
/* html/xml attribute name  - khaki */
pre .atv, code .atv {
    color: #65B042;
}
/* html/xml attribute value - green */
pre .dec, code .dec {
    color: #3387CC;
}
/* decimal - blue */

.prettyprint ol.linenums {
    list-style: none;
    counter-reset: li;
}

    .prettyprint ol.linenums > li::before {
        content: counter(li);
        color: cadetblue;
        display: inline-block;
        text-align: right;
        direction: rtl;
        width: 0;
        margin-left: -10px;
        margin-right: 30px;
    }

    .prettyprint ol.linenums > li {
        counter-increment: li;
        margin: 0;
        padding: 2px 0 2px 10px;
    }

/* override alternate shading for lines */

.prettyprint li.L1, li.L3, li.L5, li.L7, li.L9 {
    background: transparent;
}

code {
    padding: 2px 5px;
    font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
    display: inline-block;
}

.codeTitle {
    color: #fff;
    font-family: 'Inter Tight', sans-serif;
    margin-top: 16px;
    background-color: #666;
    padding: 10px;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
}

    .codeTitle .title {
        align-self: flex-start;
    }

    .codeTitle .buttons {
        align-self: flex-end;
    }

pre code {
    padding: 16px;
    display: block;
    overflow: auto;
    border-radius: 0 0 5px 5px;
}

    pre code.wrap {
        white-space: pre-wrap;
    }

code .variable {
    color: pink;
}

.copy-code-block, .type-code-block {
    cursor: pointer;
    padding: 0px 5px 0 4px;
    margin-left: 10px;
}

    .copy-code-block::before, .type-code-block::before {
        font-family: "lab-client-layout-v2";
        font-size: 16px;
        margin-right: 5px;
        display: inline-block;
        vertical-align: top;
    }

    .copy-code-block::before {
        content: "\a018";
    }

    .type-code-block::before {
        content: "\a025";
    }

    .copy-code-block:hover, .type-code-block:hover {
        background-color: #333;
    }

:not(pre) > code:not(.nocopy) {
    margin-left: 24px;
    margin-right: 3px;
    position: relative;
}

    :not(pre) > code:not(.nocopy):dir(rtl) {
        margin-left: 0;
        margin-right: 24px;
        position: relative;
    }

    :not(pre) > code:not(.nocopy)::before {
        font-weight: normal;
        content: "\a018";
        font-family: "lab-client-layout-v2";
        font-size: 16px;
        position: absolute;
        margin-left: -24px;
        cursor: pointer;
    }

    :not(pre) > code:not(.nocopy):dir(rtl)::before {
        margin-left: 0;
        margin-right: -24px;
    }

.childClient :not(pre) > code:not(.nocopy)::before {
    content: "\a025";
}

code.nocode {
    color: #fff;
}

@media print {
    pre .str, code .str {
        color: #060;
    }

    pre .kwd, code .kwd {
        color: #006;
        font-weight: bold;
    }

    pre .com, code .com {
        color: #600;
        font-style: italic;
    }

    pre .typ, code .typ {
        color: #404;
        font-weight: bold;
    }

    pre .lit, code .lit {
        color: #044;
    }

    pre .pun, code .pun {
        color: #440;
    }

    pre .pln, code .pln {
        color: #000;
    }

    pre .tag, code .tag {
        color: #006;
        font-weight: bold;
    }

    pre .atn, code .atn {
        color: #404;
    }

    pre .atv, code .atv {
        color: #060;
    }
}


/* AI Completions */

.ai-completion-prompt::before {
    content: "\a021";
    font-family: "lab-client-layout-v2";
    margin-right: 5px;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
}

.ai-completion-type-selector {
    z-index: 2;
    margin-top: 3px;
}

.ai-completion-type-selector .option.teach::before {
    content: "\a010";
}

.ai-completion-type-selector .option.show::before {
    content: "\a009";
}

.ai-completion-type-selector .option.quiz::before {
    content: "\a002";
}

.ai-completion-type-selector .option.resources::before {
    content: "\a022";
}

.ai-completion-type-selector .option.custom::before {
    content: "\a021";
}

.ai-output {
    position: relative;
    padding: 15px 15px 15px 34px;
    margin-top: 10px;
    margin-bottom: 10px;
    max-height: 400px;
    height: 100%;
    overflow: auto;
    border-radius: 10px;
}

.ai-output:dir(rtl) {
    padding: 15px 34px 15px 15px;
}

.ai-output::before {
    font-weight: normal;
    font-family: "lab-client-layout-v2";
    font-size: 16px;
    position: absolute;
    margin-left: -24px;
}

.ai-output:dir(rtl)::before {
    margin-right: -24px;
    margin-left: 0;
    transform: scaleX(-1);
}

.ai-output.teach::before {
    content: "\a010";
}

.ai-output.show::before {
    content: "\a009";
}

.ai-output.quiz::before {
    content: "\a002";
}

.ai-output.resources::before {
    content: "\a022";
}

.ai-output.custom::before {
    content: "\a021";
}

.ai-output.quiz .question-feedback::before {
    margin: 10px;
}

.ai-output.quiz li.quiz-answer {
    list-style-type: none;
}

.ai-output .buttons {
    float: right;
}

.ai-output .buttons:dir(rtl) {
    float: left;
}

.ai-output.collapsed .thumbs-up, .ai-output.collapsed .thumbs-down {
    display: none;
}

.ai-output .buttons span, .ai-chat .buttons span {
    margin-left: 5px;
    cursor: pointer;
}

.ai-output .buttons span:dir(rtl), .ai-chat .buttons span:dir(rtl) {
    margin-right: 5px;
    margin-left: 0;
}

.ai-output .output p:first-child {
    margin-top: 0;
}

.ai-output .output p:last-child {
    margin-bottom: 0;
}

.thumbs-up::before {
    font-family: "lab-client-layout-v2";
    content: "\a023";
    opacity: 0.5;
    padding: 4px;
    border-radius: 16px;
    border: solid 1px transparent;
}

.thumbs-down::before {
    font-family: "lab-client-layout-v2";
    content: "\a024";
    opacity: 0.5;
    padding: 4px;
    border-radius: 16px;
    border: solid 1px transparent;
}

.thumbs-up.selected::before {
    opacity: 1;
    color: green;
    border: solid 1px green;
}

.thumbs-down.selected::before {
    opacity: 1;
    color: #ff3139;
    border: solid 1px #ff3139;
}

/* ai-chat */

.ai-chat {
    position: relative;
}

.ai-chat .ai-chat-header {
    padding: 8px 15px;
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    align-content:center;
    line-height: 16px;
    font-size: 12px;
    border-radius: 5px 5px 0 0;
}

.ai-chat .buttons {
    margin-left: 10px;
    color: #fff;
    white-space:nowrap;
}

.ai-chat .buttons:dir(rtl) {
    margin-left: 0px;
    margin-right: 10px;
}

.ai-chat .ai-output {
    padding: 5px 15px 5px 15px;
    margin-bottom: 0;
    margin-top: 0;
    border-radius: 0;
}

.ai-output .buttons .collapse::before, .ai-chat .buttons .collapse::before {
    font-family: "lab-client-layout-v2";
    content: "\a044";
    font-size: 12px;
    display: inline-block;
    vertical-align: top;
    margin-right: 2px;
}

.ai-output .buttons .collapse:dir(rtl)::before, .ai-chat .buttons .collapse:dir(rtl)::before {
    margin-right: 0;
    margin-left: 5px;
}

.ai-output.collapsed .buttons .collapse::before, .ai-chat.collapsed .buttons .collapse::before {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
}

.ai-chat .clear::after {
    font-family: "lab-client-layout-v2";
    content: "\a000";
    font-size: 9px;
    display: relative;
    vertical-align: top;
    margin-top: 1px;
}

.ai-chat .ai-input-wrapper {
    padding: 8px;
    border-radius: 0 0 5px 5px;
}

.ai-chat .ai-input {
    width: 100%;
    resize: vertical;
    margin-right: 8px;
    align-self: flex-start;
    line-height: 22px;
    min-height: 32px;
    height: 32px;
    font-size: 14px;
    padding: 5px 10px;
    border-style: none;
    border-radius: 2px;
}

.ai-chat .message {
    padding: 5px 10px;
    margin-bottom: 5px;
    border-radius: 15px;
    clear: both;
}

.ai-chat .message.user {
    float: right;
    margin-left: 50px;
}

.ai-chat .message.user:dir(rtl) {
    float: left;
    margin-left: 0px;
    margin-right: 50px;
}

.ai-chat .message.ai {
    float: left;
    margin-right: 50px;
}

.ai-chat .message.ai:dir(rtl) {
    float: right;
    margin-right: 0px;
    margin-left: 50px;
}

.chat-response-loading .dot {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 1px;
    border-radius: 50%;
}

@keyframes jumpingAnimation {
    0% {
        transform: translate(0, 0);
    }

    16% {
        transform: translate(0, -6px);
    }

    33% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

.chat-response-loading .dot:nth-last-child(1) {
    animation: jumpingAnimation 0.8s 0.2s ease-in infinite;
}

.chat-response-loading .dot:nth-last-child(2) {
    animation: jumpingAnimation 0.8s 0.4s ease-in infinite;
}

.chat-response-loading .dot:nth-last-child(3) {
    animation: jumpingAnimation 0.8s 0.6s ease-in infinite;
}

/* ai-chat / ai-practice */

.ai-chat .ai-input-wrapper, .ai-practice .ai-input-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
}

.ai-chat .ai-input:dir(rtl), .ai-practice .ai-input:dir(rtl) {
    margin-right: 0px;
    margin-left: 8px;
}

.ai-chat .ai-submit, .ai-practice .ai-submit {
    box-sizing: border-box;
    padding: 0px;
    margin: 0;
    line-height: 16px;
    font-size: 0;
    width: 32px;
    height: 32px;
    border-radius: 3px;
    display: inline-block;
}

.ai-chat .ai-submit-wrapper::before, .ai-practice .ai-submit-wrapper::before {
    content: "\a020";
    font-family: "lab-client-layout-v2";
    font-size: 16px;
    color: #fff;
    position: absolute;
    margin-left: 9px;
    margin-top: 9px;
    cursor: pointer;
}

.ai-chat .ai-submit-wrapper:dir(rtl)::before, .ai-practice .ai-submit-wrapper:dir(rtl)::before {
    margin-left: 0;
    margin-right: 9px;
}

.ai-chat .suggest-topics {
    margin-left: 20px;
}

.ai-chat .suggest-topics:dir(rtl) {
    margin-left: 0;
    margin-right: 20px;
}

.ai-chat .suggest-topics::before, .ai-practice .suggest-topics::before {
    font-family: "lab-client-layout-v2";
    content: "\a010";
    display: inline-block;
    vertical-align: top;
    margin-right: 8px;
    font-size: 15px;
    font-weight: normal;
}

.ai-chat .suggest-topics:dir(rtl)::before, .ai-practice .suggest-topics:dir(rtl)::before {
    margin-right: 0px;
    margin-left: 8px;
    transform: scaleX(-1);
}

/* ai-practice */

.ai-practice .ai-practice-header {
    margin: 8px 0px;
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    font-size: 12px;
    border-radius: 5px 5px 0 0;
}

.ai-practice .ai-practice-header .topic {
    font-family: 'theme-heading-font', sans-serif;
    color: var(--heading-color);
    font-size: 16px;
    font-weight: 500;    
}

.ai-practice-output {
    margin:10px 0;
}

.ai-practice-output-style{
    font-size:13px;
}

.ai-practice-output-style-wrapper {
    white-space:nowrap;
}

.ai-practice .ai-input-wrapper {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: solid 1px var(--primary-color-low-opacity);
}

.ai-practice .ai-input {
    width: 100%;
    resize: vertical;
    margin-right: 5px;
    line-height: 22px;
    min-height: 32px;
    font-size: 14px;
    border-style: none;
    border-width:1px;
    border-radius: 5px;
}

.ai-practice .ai-practice-response:not(.loading) {
    border-bottom: solid 1px var(--primary-color);
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.ai-practice .ai-practice-response.loading {
    padding-bottom: 120px;
}

.ai-practice .ai-practice-output-style-wrapper {
    margin-left: 16px;
}

.ai-practice .ai-practice-output-style-wrapper:dir(rtl) {
    margin-right: 16px;
    margin-left:0;
}

.ai-practice .suggest-topics {
    margin-top: 20px;
}


/* ai content */

.ai-content {
    margin: 16px 0;
}

.ai-content.preview {
    padding: 16px;
    border-radius: 8px;
    cursor: pointer;
}

.ai-content.preview::before {
    font-family: lab-client-layout-v2;
    content: "\a021";
    font-size: 16px;
    font-weight: 400;
    color: #12BF79;
    display: inline-block;
    vertical-align: top;
    margin-right: 8px;
}


/*  TASKS  */

ol.taskList {
    padding-left: 15px;
    margin-left: 0;
}

    ol.taskList:dir(rtl) {
        padding-left: 0px;
        padding-right: 15px;
        margin-right: 0;
    }

ol .task-list-item {
    position: relative;
    margin: 10px 0 10px 38px;
}

    ol .task-list-item:dir(rtl) {
        margin: 10px 38px 10px 0;
    }

ul.taskList {
    padding-left: 25px;
    margin-left: 0;
}

    ul.taskList:dir(rtl) {
        padding-left: 0;
        padding-right: 25px;
        margin-right: 0;
    }

ul .task-list-item {
    position: relative;
    margin: 10px 0 10px 0px;
    list-style-type: none;
}

.task-list-item label {
    margin-top: -2px;
}

    .task-list-item label.checkbox {
        position: absolute;
        top: 1px;
    }

ol .task-list-item label.checkbox {
    left: -53px;
}

    ol .task-list-item label.checkbox:dir(rtl) {
        left: initial;
        right: -53px;
    }

ul .task-list-item label.checkbox {
    left: -25px;
}

    ul .task-list-item label.checkbox:dir(rtl) {
        right: -25px;
    }

.task-list-item .checkbox input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    padding: 0;
    margin: 0;
}

.task-list-item .checkbox span::before {
    color: white;
    background-color: #fff;
    content: "\a026";
    font-family: "lab-client-layout-v2";
    font-size: 12px;
    padding: 2px;
    margin: 0;
    border: solid 1px #000;
}

.task-list-item .checkbox input:checked + span::before {
    background-color: green;
    border-color: green;
}

.task-list-item .checkbox input:focus + span::before {
    outline: rgb(59, 153, 252) solid 1px;
}


/* ACTIVITIES */

.activity {
    margin: 1.75em 0;
}

    .activity .questionText {
        margin-bottom: 8px;
        white-space: pre-line;
    }

    .activity .answer {
        margin: 5px 0;
    }

        .activity .answer label {
            display: flex;
            flex-flow: row;
        }

            .activity .answer label input {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                margin: 0 10px 0 0;
                font: inherit;
                color: currentColor;
                width: 1em;
                height: 1em;
                border: 2px solid black;
                transform: translateY(-0.1em);
                display: grid;
                place-content: center;
            }

                .activity .answer label input:dir(rtl) {
                    margin: 0 0 0 10px;
                }

                .activity .answer label input[type=checkbox] {
                    border-radius: 4px;
                }

                .activity .answer label input[type=radio] {
                    border-radius: 50%;
                }

                .activity .answer label input::before {
                    content: "";
                    width: 0.3em;
                    height: 0.3em;
                    transform: scale(0);
                    transition: 120ms transform ease-in-out;
                }

                .activity .answer label input[type=radio]::before {
                    border-radius: 50%;
                }

                .activity .answer label input[type=checkbox]::before {
                    border-radius: 2px;
                }

                .activity .answer label input:checked::before {
                    background-color: #fff;
                    transform: scale(1);
                }

                .activity .answer label input:focus {
                    outline: solid 1px blue;
                }

                .activity .answer label input:checked {
                    background-color: #333;
                }

        .activity .answer input {
            align-self: flex-start;
            margin-right: 8px;
        }

            .activity .answer input:dir(rtl) {
                margin-right: 0px;
                margin-left: 8px;
            }

    .activity .answerText {
        max-width: 100%;
        min-width: 200px;
        width: 300px;
    }

    .activity.requiredError::after {
        content: "Required";
        color: red;
        display: block;
        margin-top: 5px;
    }

    .activity .evaluate {
        margin: 10px 10px 0 0;
    }

        .activity .evaluate:dir(rtl) {
            margin: 10px 0 0 10px;
        }

.activityGroup.on-demand-evaluation .activity .evaluate {
    display: none;
}

.activity .feedback {
    border-radius: 5px;
    margin-top: 10px;
    padding: 15px 15px 15px 42px;
    overflow: auto;
    min-height: 15px;
    word-break: keep-all;
}

    .activity .feedback:dir(rtl) {
        padding: 15px 42px 15px 15px;
    }

    .activity .feedback::before {
        margin-left: -28px;
        position: absolute;
        content: "\a026";
        font-size: 18px;
        font-family: "lab-client-layout-v2";
        vertical-align: top;
    }

    .activity .feedback:dir(rtl)::before {
        margin-left: 0;
        margin-right: -28px;
    }

    .activity .feedback.positive:before {
        content: "\a026";
    }

    .activity .feedback.negative:before {
        content: "\a016";
    }

    .activity .feedback p:first-of-type, .activity .automatedActivityText p:first-of-type, .scriptTaskList .taskText p:first-of-type {
        margin-top: 0;
    }

    .activity .feedback p:last-of-type, .activity .automatedActivityText p:last-of-type, .scriptTaskList .taskText p:last-of-type {
        margin-bottom: 0;
    }

.activity span.loading {
    margin-top: 10px;
    display: inline-block;
}

.activity .automatedActivityText {
    white-space: pre-line;
}

.activity .scriptResponse {
    white-space: pre-wrap;
}

    .activity .scriptResponse:not(:first-child) {
        margin-top: 10px;
    }

.activity .scriptTaskList {
    margin: 10px 0;
    padding: 10px;
    display: block;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
}

.activity .scriptTask .response {
    margin-top: 10px;
}

.activity .scriptTask.pass .response {
    color: green
}

.activity .scriptTask.fail .response, .activity .scriptTask.error .response {
    color: #FF3139;
}

.activity .scriptTask:not(:first-of-type) {
    margin-top: 10px;
}

.activity .scriptTask .status {
    position: absolute;
    margin-left: -30px;
}

    .activity .scriptTask .status:dir(rtl) {
        margin-left: 0;
        margin-right: -30px;
    }

.activity .scriptTask {
    margin-left: 30px;
}

    .activity .scriptTask:dir(rtl) {
        margin-left: 0;
        margin-right: 30px;
    }

    .activity .scriptTask .running {
        display: none;
    }

        .activity .scriptTask.running .running {
            display: inline-block;
        }

        .activity .scriptTask.running .result {
            display: none;
        }

    .activity .scriptTask .result:before {
        border: solid #000 2px;
        background-color: #fff;
        opacity: 0.3;
        content: "";
        width: 16px;
        height: 16px;
        display: inline-block;
        vertical-align: top;
        margin-top: -1px;
        text-align: center;
        line-height: 17px;
        border-radius: 2px;
    }

    .activity .scriptTask.pass .result:before {
        opacity: 1;
        border-color: green;
        content: "\a026";
        font-family: "lab-client-layout-v2";
        color: green;
        font-size: 12px;
    }

    .activity .scriptTask.fail .result:before {
        opacity: 1;
        border-color: #FF3139;
        content: "\a000";
        font-family: "lab-client-layout-v2";
        color: #FF3139;
        font-size: 11px;
    }

    .activity .scriptTask .loading {
        margin-top: 1px;
    }

.clickFeedbackMessage {
    position: absolute;
    background-color: #333;
    color: #ddd;
    font-size: 13px;
    padding: 10px;
    z-index: 3000;
    border-radius: 5px;
}


/* NOTIFICATIONS */

#notificationContainer {
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    margin-right: 32px;
    margin-bottom: 115px;
    margin-left: 15px;
}

    #notificationContainer:dir(rtl) {
        left: 0;
        right: auto;
        margin-right: 15px;
        margin-left: 32px;
    }

.notification {
    margin-top: 10px;
    position: relative;
    max-width: 100%;
    border-radius: 8px;
    border: solid 2px #333;
    box-shadow: rgba(0, 0, 0, 0.5) 2px 4px 8px;
}

.notificationContentTopPadding {
    padding-top: 25px;
}

.notificationContent {
    max-height: 400px;
    overflow-y: auto;
    padding: 0 25px 25px 25px;
    box-sizing: border-box;
}

@media only screen and (min-width: 238px) {
    .notification {
        width: 150px;
    }
}

@media only screen and (min-width: 288px) {
    .notification {
        width: 200px;
    }
}

@media only screen and (min-width: 338px) {
    .notification {
        width: 250px;
    }
}

@media only screen and (min-width: 387px) {
    .notification {
        width: 300px;
    }
}

.closeNotification {
    cursor: pointer;
}

    .closeNotification::before {
        content: "\a000";
        font-family: "lab-client-layout-v2";
        display: inline-block;
        vertical-align: top;
        font-size: 14px;
        position: absolute;
        right: 8px;
        top: 8px;
        padding: 3px;
    }

    .closeNotification:dir(rtl)::before {
        right: auto;
        left: 8px;
    }

    .closeNotification:focus::before, .dialogCloseButton:focus::before {
        outline: rgb(255, 255, 255, .5) solid 1px;
    }

.notificationButtonWrapper {
    margin-top: 15px;
}

    .notificationButtonWrapper input + input {
        margin-left: 5px;
    }

        .notificationButtonWrapper input + input:dir(rtl) {
            margin-left: 0px;
            margin-right: 5px;
        }

.listedNotification {
    padding: 12px 16px;
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: auto;
    max-height: 400px;
}

    .listedNotification .listedNotificationDate {
        margin-bottom: 10px;
        font-size: 11px;
        opacity: .8;
    }

.screen-reader-only {
    position: absolute;
    height: 1px;
    width: 1px;
    clip: rect(1px 1px 1px 1px);
    clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    overflow: hidden !important;
}

/* UTILITIES */


table.fields {
    border-collapse: collapse;
    border-spacing: 0;
}

    table.fields td.fieldName {
        opacity: .8;
        text-align: right;
        padding-right: 10px;
    }

        table.fields td.fieldName:dir(rtl) {
            text-align: left;
        }

    table.fields td {
        padding: 4px;
    }

.zoomable {
    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
}

.edit-link::before {
    content: "\a033";
    font-family: "lab-client-layout-v2";
    display: inline-block;
    font-size: 12px;
    margin-top: 1px;
    cursor: pointer;
    margin-right: 3px;
}

.edit-link:dir(rtl)::before {
    margin-right: 0px;
    margin-left: 3px;
}

.noselect {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*  VIRTUALIZATION */

.inputRelease {
    display: none;
}

.machine, .contentResource, .container, .endpoint {
    padding: 16px;
    margin: 15px 0;
    border-radius: 4px;
    border: solid 2px transparent;
}

    .machine:hover, .contentResource:hover, .container:hover, .endpoint:hover {
        cursor: pointer;
    }

    .machine.selected:hover, .contentResource.selected:hover, .container.selected:hover, .endpoint.selected:hover {
        cursor: auto;
    }

    .machine .thumbnail, .contentResource .thumbnail {
        position: absolute;
        max-width: 64px;
        max-height: 48px;
    }

    .machine .machineName {
        font-size: 15px;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        padding-left: 70px;
    }

        .machine .machineName:dir(rtl) {
            padding-left: 0;
            padding-right: 70px;
        }

    .machine .machineNameCenter {
        height: 48px;
        font-weight: bold;
        display: table;
        width: 100%;
    }

    .machine .ctrlAltDel {
        font-size: 12px;
        font-weight: 400;
        margin: 10px 0;
    }

    .machine .selectHeading {
        margin-top: 16px;
        font-size: 12px;
        opacity: .75;
    }

    .machine select {
        margin: 8px 0;
    }

    .machine .credentials {
        margin: 8px 0;
    }

        .machine .credentials .fieldName {
            padding-left: 0;
            font-size: 12px;
        }

            .machine .credentials .fieldName:dir(rtl) {
                padding-left: initial;
                padding-right: 0;
            }

    .machine .loadDeveloperFiles::before {
        font-family: "lab-client-layout-v2";
        display: inline-block;
        vertical-align: top;
        margin-top: 2px;
        content: "\a020";
        margin-right: 4px;
        font-size: 13px;
    }

    .machine .loadDeveloperFiles:dir(rtl)::before {
        margin-right: 0;
        margin-left: 4px;
    }

.editVirtualMachineInstance {
    margin-left: 18px;
}

    .editVirtualMachineInstance:dir(rtl) {
        margin-left: 0;
        margin-right: 18px;
    }

.machine .openInNewWindow {
    margin-top: 10px;
    display: block;
}

.open-in-new-window-link::before {
    content: "\a008";
}

/*  CONTAINERS */

.container .openTerminal::before {
    content: ">_";
    font-family: monospace;
    display: inline-block;
    margin-right: 3px;
}

.container .openTerminal:dir(rtl)::before {
    margin-right: initial;
    margin-left: 3px;
}

.container .name {
    font-size: 15px;
    font-weight: 500;
}

.container .controls div {
    margin-top: 5px;
}

    .container .controls div:first-child {
        margin-top: 15px;
    }

.container .reconnect::before {
    content: "\a040";
    font-family: "lab-client-layout-v2";
    display: inline-block;
    margin-right: 5px;
    font-weight: normal;
}

.container .reconnect:dir(rtl)::before {
    margin-right: 0;
    margin-left: 5px;
}

/*  ENDPOINTS */

.endpoint {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

    .endpoint .name {
        font-size: 15px;
        font-weight: 600;
    }

    .endpoint .expanded-info {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }


/*  EXTERNAL MANUALS */

.tabContent.externalManual {
    padding: 0px;
    overflow-y: inherit;
    overflow-x: inherit;
}

.externalManualWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

iframe.externalManual {
    width: 100%;
    height: 100%;
    border: 0;
}

/*  CLOUD RESOURCES */

.cloudResourceGroup .description, #externalResources.description {
    font-size: 13px;
    font-style: italic;
}

.cloudCredential {
    margin-bottom: 20px;
}

table.fields td.cloudResource {
    padding-bottom: 5px;
}


/* AUTHORING */

.dialogChoice {
    margin-bottom: 15px;
}

    .dialogChoice label {
        font-size: 1.2em;
    }

.dialogChoiceDescription {
    margin: 5px 0 5px 22px;
}

    .dialogChoiceDescription:dir(rtl) {
        margin: 5px 22px 5px 0;
    }

.tree-node {
    margin: 15px;
    box-sizing: border-box;
    user-select: none;
}

    .tree-node > .node-name {
        cursor: default;
        border-radius: 15px;
        padding: 5px 10px;
        margin-left: 8px;
    }

        .tree-node > .node-name:dir(rtl) {
            margin-left: 0;
            margin-right: 8px;
        }

    .tree-node > .node-image:before {
        content: "\a015";
        font-family: lab-client-layout-v2;
        display: inline-block;
        cursor: pointer;
        margin-top: 3px;
        vertical-align: top;
        transform: rotate(0deg);
        transition: transform linear .2s;
    }

    .tree-node.expanded > .node-image:before {
        transform: rotate(90deg);
        transition: transform linear .2s;
    }

    .tree-node > .children {
        margin-left: 15px;
    }

        .tree-node > .children:dir(rtl) {
            margin-left: 0;
            margin-right: 15px;
        }

    .tree-node .node-name input[type=text] {
        background-color: transparent;
        padding: 0;
        outline: none;
        border: none;
    }

        .tree-node .node-name input[type=text]:focus {
            outline: none;
        }

/* vm disk changes */
.virtualMachineHeader {
    font-size: 14px;
    color: #676767;
}

details.virtualMachine {
    display: flex;
    flex-direction: column;
    padding: 16px 16px 8px 16px;
    align-self: stretch;
    border-radius: var(--borderRadius, 5px);
    border: 1px solid var(--_components-text-light, #676767);
}

    details.virtualMachine summary {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        flex: 1 0 0;
        gap: 10px;
    }

    details.virtualMachine.checkbox summary {
        align-items: center;
        flex-direction: row;
        justify-content: flex-start;
    }

    details.virtualMachine.checkbox > summary::after {
        content: none;
    }

.virtualMachineName {
    font-size: 16px;
}

.virtualMachine .disk {
    margin: 0 0 10px 10px;
}

.virtualMachine input[type=checkbox], input[type=radio] {
    margin: 8px;
}

details.checkbox[open] summary {
    margin: 0px;
}

.context-menu {
    position: absolute;
    z-index: 3000;
    background-color: #323232;
    border: solid 1px #fff;
}

.context-menu-item {
    padding: 8px;
    min-width: 150px;
    cursor: pointer;
    color: #fff;
}

    .context-menu-item:hover {
        background-color: #0067B8;
    }
